<div class="page-header">
  <%= form_tag(vote_path(@link), method: "put") do %>
    <h1>Link
      <small><a href="http://<%= @link.url %>" target="_blank"><%= @link.url %></a></small>
      <%= submit_tag "Vote up", :class => "btn-sm btn-warning" %>
      <small><%=@link.votes%> votes</small>
    </h1>
  <% end %>
</div>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.text %> <%= link_to "Destroy comment?", link_comment_path(comment.commentable, comment), data: {method: "delete"}%></li>
  <% end %>
<ul>

<%= render('comments/form') %>

<p><%= link_to "Edit link", edit_link_path(@link), :class => "btn btn-primary" %></p>
